@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;500;600&display=swap');


@function makelongshadow($color,$opacity) {
  $val: 0px 0px rgba($color,$opacity);
  @for $i from 1 through 100 {
    $val: #{$val}, -#{$i}px #{$i}px rgba($color,$opacity);
  }
  @return $val;
} 
body {
  font-family: 'Oswald', sans-serif !important;
  color: #000 !important;
  height: 100%;
  width: 100%;
  max-width: 100vw;
  max-height: 100vh;
  background-image: url("../public/camperbg2.jpg");
  background-repeat: no-repeat;
  background-size:  cover;
  background-attachment: fixed;
  background-position: center; 
  //  background-color: #282c34 !important; */
  margin: 0;
  padding: 0; 
  
}

.backGround {
 
  height: 100%;
}
.size{
  height: 100%;
}
/* inizio testo animato */

.card-jumboTitle{
  width: 100%;
  padding: 30px;
  margin: auto;
  transition: .3s ease;
  box-shadow: 0 1px 1px rgba(91, 91, 91, 0.3);

}
.card-jumboTitle:hover {
    box-shadow: 0 5px 20px rgba(122, 122, 122, 0.8);
    transform: translateY(-10px) scale(1.02);
  	
  }

  .entry-title:hover{
    background-position: -100% 0;
  } 
.entry-title{
background: linear-gradient(90deg, rgba(255, 254, 254, 0.074) 50%, rgba(77,77,77,0.11537114845938379) 100%);
  background-size: 200%;
  font-size: 500;
  background-position: 0 0;
  display: inline;
  transition: .5s ease-in-out;
  text-transform: uppercase; 
  color: #c2f3fa!important;
  font-size: 1.9em;
  font-family: 'Oswald', sans-serif !important;
  
}

 a{
  color: rgb(235, 27, 27);
  text-decoration: none !important;
}
a:hover{
  cursor: pointer;
}
small{
  margin-top: 20px;
  display: block;
  font-family: raleway, arial, sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  
  a{
    font-weight: 700;
    color: white;
    text-decoration: none;
  }
}

span{
  display: block;
  margin-top: 10px;
  font-family: raleway, arial, sans-serif;
  font-weight: 700;
  color: #2b3a37;
	
	a{color: white}
}

.iklan{
  position: fixed;
  bottom: 0;
  right: 0;
  background: white;
  width: 200px;
  padding: 20px;
 
  
  p{
    margin: 0 0 15px;
    line-height: 1.4;
    color: #333;
  }
  
  a{
    background-color: #ff4757;
    color: white;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 3px;
    text-decoration: none;
    font-size: 14px;
  }
} 

/* fine testo animato */
/*Search bar e titolo search*/
.searchTitle{
    font-size: 50px;
}


.card-shadow{
  box-shadow: 5px 5px 10px 2px rgb(33,39,44);
  .title{
    border-radius: 50%;
  }
}

.cardRegister{
  padding:1em;
  background: rgb(33,39,44);
background: linear-gradient(90deg, rgba(33,39,44,0.768032212885154) 0%, rgba(70,89,87,0.42629551820728295) 77%);

box-shadow: 5px 5px 10px 2px rgb(33,39,44) inset;

}
.cardDetailPhoto{
  padding: 10px 10px 70px 10px;
  background-color: white;
  height: 100%;
}
.imgSingleCard{
  min-width: 250px;
  max-width: 250px;
  max-height: max-content;
  padding: 1em;
  border-radius: 50px;
}
@media screen and (max-width: 768px) {
  .imgSingleCard{
    min-width: 150px;
    max-width: 150px;
    max-height: max-content;
    padding: 1em;
    border-radius: 50px;
  }
 .sizeBadge{
  width: max-content;
 } 
}
.form-label{
  font-size: 1.3em;
  text-align: center;
  color: rgb(16, 16, 16);
}
.form-control-plaintext{
  background-color: rgb(251, 251, 251) !important;
}
 .form-label{
  color:#000000
} 

.color-placeholder::placeholder {
  color: rgb(246, 244, 244)50% !important;
}

.color-link {
  color: rgb(255, 255, 255) !important;
}

.color-link:hover {
  background-color: #282c34;
}

.custom-dropdown-title {
  color: rgb(218, 217, 217) !important;

}

.dropdown-toggle::after {
  color: rgb(217, 215, 215) !important;

}

.dropdown-menu {
  color: rgb(255, 255, 255) !important;
  background-color: transparent !important;
}

.dropdown-item {
  padding: 0 !important;
  margin: 0 auto;
}

.navBar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: makelongshadow(#707070,0.05);
}
.navSpace {
  margin-bottom: 1em;
 
}

.imgUser {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

// .custom-dropdown-title{
//   font
// }

.logo {
  max-width: 100px;

}

.button {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 25%;
  will-change: transform;
}


@media screen and (max-width : 992px) {
  .button {
    font-size: 0.8em;
    width: 100%;
  }
}

.button:disabled {
  pointer-events: none;
}

.button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: none;
  transform: translateY(0);
}

svg {
  margin: 0.2em;
  font-size: 2em;
 
}


.checkbox-label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  background-color: rgb(250, 250, 250)
}

.checkbox-input {
  position: absolute;
  opacity: 0;
}


.checkbox-label.selected ::after {
  display: block;

}

.selected {
  border: 2px;
  border-color: #0061bd;
  background-color: rgb(56, 140, 161);
  /* Altri stili desiderati per la checkbox selezionata */
}
/** Change this if you need to modify
/** the amount of lines displayed
*/


.title{
	padding : 10px;
	overflow:hidden;
	margin: 0px auto;
	width: 100%;
	font-weight: 600; 
	line-height: 60px; 
	font-size: 60px; 
	text-align: center;
	font-size: 3rem;
	color: #000; 
	font-family: 'Oswald', sans-serif !important;font-family: 'Georgia'; 
	text-shadow: makelongshadow(#707070,0.05);

}

//prova navbar

