// @import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600&family=Kaushan+Script&display=swap');


// @function makelongshadow($color,$opacity) {
//   $val: 0px 0px rgba($color,$opacity);
//   @for $i from 1 through 100 {
//     $val: #{$val}, -#{$i}px #{$i}px rgba($color,$opacity);
//   }
//   @return $val;
// } 


// // $display-font-sizes: (
// //   1: 3rem,
// //   2: 2.5rem,
// //   3: 2rem,
// //   4: 1.5rem,
// //   5: 1rem,
// //   6: 0.8rem
// //   7: 0.6rem
// // );

// // $display-font-weight: 500;
// // $display-line-height: $headings-line-height;



body {
  font-family: 'Domine', serif !important;
  color:#000000!important;
//   height: 100%;
//   width: 100%;
//   box-sizing: border-box;
//   max-height: 100vh;
//   // ../public/bg2.jpg


 
  // margin: auto;
  padding: 0; 
  
}

// Login
.user_card {
  height: 400px;
  width: 350px;
  margin-top: auto;
  margin-bottom: auto;
  background: #000000;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;

}
.brand_logo_container {
  
  position: absolute;
  height: 170px;
  width: 170px;
  top: -75px;
  border-radius: 50%;
  background: #929292;
  padding: 10px;
  text-align: center;
}
.brand_logo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid white;
}
.form_container {
  margin-top: 100px;
}
.login_btn {
  width: 100%;
  background: #026f0b !important;
  color: white !important;
}
.login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.login_container {
  padding: 0 2rem;
}
.input-group-text {
  background:#929292 !important;
  color: white !important;
  height: 100%;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #c0392b !important;
}
//fine login


h5,h4,h3{
  line-height: 150%;
  color: #000;
  text-shadow: -1px 0 #faf9f9, 0 1px  #faf9f9, 1px 0  #faf9f9, 0 -1px  #faf9f9;
}
.bgRoad{
  background-image: url("https://img.freepik.com/free-photo/shot-highway-road-surrounded-by-dried-grass-fields-sky-during-sunset_181624-10934.jpg?w=900&t=st=1689265545~exp=1689266145~hmac=a42df11ac94a3ef4b8e201a23e967ffe781ab2b42007634e235d45739baef844");
  background-repeat: no-repeat;
  background-size:  cover;
  background-attachment:fixed; 
    background-position: center; 
}


// body h3{
//   font-size:5em;
//   text-align: center;
//   color: white!important;
  
// }
// p{
//   font-size: 1em;
// }
// .backGround {
   
//   height: 100%;
// }
// // .size{
// //   height: 100%;
// // }
.imgUser {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}


.logo {
  
  width: 50px;

}

a{
  text-decoration: none !important;
  
}

.singleCard a {
  color: #faf9f9 !important;
  letter-spacing: 2px;
}

a:hover{
 cursor: pointer;
}

input[type=radio]{
  display: none;
}
.star{
  cursor: pointer;
}
.triangle {

  position: absolute;
  top: 40px;
  left: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #090909;

}
// /* fine testo animato */
// /*Search bar e titolo search*/
.cursor-pointer{
  cursor: pointer;
}
.searchTitle{
    font-size: 50px;
}


.card-shadow{
  box-shadow: 5px 5px 10px 2px rgb(33,39,44);
 
}

.cardFormFacility{
  // padding:1em;
  // background-color: #000;
  // color: #faf9f9;
  background: #F4D6BA;
  // background: linear-gradient(180deg, rgba(155,177,231,1) 0%, rgba(0,26,255,0.45702030812324934) 95%);
box-shadow: 5px 5px 10px 2px rgb(33,39,44);

}
// .cardDetailPhoto{
//   padding: 10px 10px 70px 10px;
//   background-color: white;
//   height: 100%;
//   margin:0 2 
// }
.singleCard{
 width: 100%
  
}
.imgSingleCard{
  border-radius: 0.25rem!important;
  object-fit: cover !important;
  overflow: hidden;
  max-height: 100% !important;
  max-width: 100% !important;
 
}
.font-size{
  font-size: 0.8em !important;
}

// // @media screen and (min-width: 768px) {
// //   .imgSingleCard{
// //     min-width: 150px;
// //     max-width: 150px;
// //     max-height: max-content;
// //     padding: 1em;
// //     border-radius: 50px;
// //   }
// //   .sizeBadge{
   
// //     width: max-content;
// //    } 
 
// }
::-webkit-scrollbar {
  width: .45rem;
  overflow-x: hidden
}
::-webkit-scrollbar-thumb {
  background-color: rgba(27, 27, 27, .4);
  border-radius: 3px;
}
::-webkit-scrollbar-track{
  background: transparent;
}

@media screen and (max-width: 768px) {
  .card div svg{
    font-size: 1.8em !important;
  }
  .sizeResp {
    font-size: 0.4em !important;
  }
  
}

.card div svg{
 font-size: 1.5em !important;
 
}
.sizeResp  {
 font-size: 1.4em;
}
.form-label{
  font-size: 1.3em;
  text-align: center;
  color: rgb(16, 16, 16);
}
.form-control-plaintext{
  background-color: rgb(251, 251, 251) !important;
  width: auto;
}
 .form-label{
  color:#000000
} 

.color-placeholder::placeholder {
  color: rgb(246, 244, 244)50% !important;
}

// // .color-link {
// //   color: rgb(255, 255, 255) !important;
// // }

// // .color-link:hover {
// //   background-color: #282c34;
// // }

// // .custom-dropdown-title {
// //   color: rgb(218, 217, 217) !important;

// // }

// // .dropdown-toggle::after {
// //   color: rgb(217, 215, 215) !important;

// // }

// // .dropdown-menu {
// //   color: rgb(255, 255, 255) !important;
// //   background-color: transparent !important;
// // }

// // .dropdown-item {
// //   padding: 0 !important;
// //   margin: 0 auto;
// // }

// // .navBar{
// //   display: flex;
// //   align-items: center;
// //   justify-content: space-between;
  
// // }
// // .navSpace {
// //   margin-bottom: 1em;
 
// // }



// // .button {
// //   appearance: none;
// //   background-color: #000000;
// //   border: 2px solid #1A1A1A;
// //   border-radius: 15px;
// //   box-sizing: border-box;
// //   color: #FFFFFF;
// //   cursor: pointer;
// //   display: inline-block;
// //   font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
// //   font-size: 1em;
// //   font-weight: 600;
// //   line-height: normal;
// //   margin: 0;
// //   min-height: 60px;
// //   min-width: 0;
// //   outline: none;
// //   padding: 16px 24px;
// //   text-align: center;
// //   text-decoration: none;
// //   transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
// //   user-select: none;
// //   -webkit-user-select: none;
// //   touch-action: manipulation;
// //   width: 25%;
// //   will-change: transform;
// // }


// // @media screen and (max-width : 992px) {
// //   .button {
// //     font-size: 0.8em;
// //     width: 100%;
// //   }
// // }

// // .button:disabled {
// //   pointer-events: none;
// // }

// // .button:hover {
// //   box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
// //   transform: translateY(-2px);
// // }

// // .button:active {
// //   box-shadow: none;
// //   transform: translateY(0);
// // }

svg {
  margin: 0.2em;
  font-size: 2em;
 
}


.checkbox-label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  background-color: rgb(250, 250, 250)
}

.checkbox-input {
  position: absolute;
  opacity: 0;
}


.checkbox-label.selected ::after {
  display: block;

}

.selected {
  border: 2px;
  border-color: #020202;
  background-color: rgb(140, 140, 140);
//   /* Altri stili desiderati per la checkbox selezionata */
}

